<div ng-controller="loginCtrl as vm"  class="container wow fadeInUp">




    <p ng-if="vm.obj.given_name">Hello {{vm.obj.given_name}}</p>

    <img src="{{vm.obj.picture}}" class="img-responsive img-circle" alt="" style="max-width: 5%" ng-cloak ng-if="vm.picture!=''">

    <br/>


    <button ng-click="vm.authenticate('google')">Sign in with Google</button>



    <button ng-click="vm.authenticate('facebook')">Sign in with Facebook</button>

    <br/><br/>
    <button ng-click="vm.logout()">logout</button>
    <!-- <button ng-click="signedOut()">Sign out</button> -->
    <br/><br/>
   <!-- <pre>
        {{vm | json}}
    </pre>-->

</div>