<section ng-controller="accountsCtrl as vm">
    <div class="container wow fadeInUp account-form">


        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <a class="img-card" href="">
                        <img src="files/{{main.user.fileId}}" class="img-fluid">
                    </a>
                    <br />
                    <div class="card-content">
                        <h4 class="card-title">
                            <a href="http://www.fostrap.com/">
                                {{main.user.email}}
                            </a>
                        </h4>
                        <div class="">
                            {{row.shortDescription}}
                        </div>
                    </div>
                    <div class="card-read-more">
                        <button type="button" class="btn btn-secondary btn-block" ng-click="vm.snowFileUploader=1"><span
                                class="glyphicon glyphicon-pencil"></span> Change/Add image
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-sm-6 ">
                <div class="center-block">
                    <div class="card card-block text-xs-center">
                        <div class="card-block">
                            <h4 class="card-title">{{main.user.email}}</h4>
                        </div>
                        <img class="card-img-top img-fluid show-pointer" src="files/{{main.user.fileId}}" alt="User image" ng-if="main.user.fileId">
                        <div class="card-block">
                            <p class="card-text">{{row.shortDescription}}</p>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary" ng-click="vm.snowFileUploader=1"><span
                                    class="glyphicon glyphicon-pencil"></span> Change/Add image
                            </button>
                            &lt;!&ndash;<button type="button" class="btn btn-warning" ng-click="vm.addToBasket(row)"><span
                                    class="glyphicon glyphicon-pencil"></span> Add to basket
                            </button>&ndash;&gt;
                        </div>
                    </div>
                </div>
            </div>-->

            <div ng-controller="filesCtrl as vm" ng-if="vm.snowFileUploader">
                <form enctype="multipart/form-data" class="form-horizontal">

                    <div class="form-group">
                        <div class="col-sm-10">
                            <label class="btn btn-default btn-file">
                                Browse <input type="file" file-model="myFile" style="display: none;">
                            </label>
                            <button ng-click="vm.uploadFile()" class="btn btn-warnings">Upload file
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
