<section ng-controller="itemsCtrl as vm">

    <div class="container  fadeInUp">

        <div class="row">
            <div class="col-lg-8">
                <img class="img-fluid" ng-src="files/{{vm.obj.fileIds[0]}}" alt="Item image">
            </div>
            <div class="col-lg-4">
                <h4>{{vm.obj.name}}</h4>
                <h4 class="text-danger">Price: {{vm.obj.price}} лв.</h4>
                <span class="input-group col-xs-5">
                    <span class="input-group-addon show-pointer" ng-click="vm.changeQuantity({quantity: vm.obj.quantity, tp: 'decrease'})">&nbsp;-</span>
                    <input type="text" class="form-control" value="asd" ng-model="vm.obj.quantity" />
                    <span class="input-group-addon show-pointer" ng-click="vm.changeQuantity({quantity: vm.obj.quantity, tp: 'increase'})">+</span>
                </span>
                <br><br>
                <div class="alert alert-danger" ng-if="vm.showAlreadyOrderThisItemErr">
                    You already have ordered  {{main.ps.quantity[vm.obj.id]}} number of this item.<br>
                    Your last order will be replaced with this one
                </div>
                <br>
                <button type="button" class="btn btn-warning btn-lg btn-block" ng-click="vm.addToBasket(vm.obj)">
                    <span class="glyphicon glyphicon-pencil"></span> Add to basket
                </button>

                <br/><br/>
                <p class="lead">Items info</p>
                <p>{{vm.obj.shortDescription}}</p>
                <p>
                    {{vm.obj.description}}
                </p>
            </div>
        </div>


        <br>
        <div class="row">
            <div class="col-sm-3" ng-repeat="row in vm.obj.fileIds">
                <div class="card">
                    <a class="img-card" ng-click="vm.swapImage({id: row})" href="">
                        <img ng-src="files/{{row}}" />
                    </a>
                </div>
            </div>
        </div>
        <a type="button" class="btn btn-secondary" ng-click="$back()"><i class="ion-android-arrow-back" role="button"></i>&nbsp;Back</a>
        <div class="row" ng-if="main.user.id">
            <div class="form-group">
                <label for="comment">Comment: </label>
                <textarea ng-model="vm.obj.comment" class="form-control" rows="5" id="comment"></textarea>
                <p></p>
                <button type="button" class="btn btn-warning btn-block"
                        ng-click="vm.addComment({row: vm.obj, comment: vm.obj.comment})"><span
                        class="glyphicon glyphicon-pencil"></span> Add comment
                </button>
            </div>
        </div>
        <br>

        <div class="row" ng-repeat="comment in vm.obj.comments">
            <img ng-src="files/{{comment.userFileId}}" class="profile-image img-circle img-fluid" alt="User image"/>
            <b class="lead">{{comment.userEmail}}</b>:<br> {{comment.comment}}
            <br><br><br>
        </div>


    </div>

   <!-- <pre>{{vm.obj | json}}</pre>-->

</section>