<section id="one" ng-controller="itemsCtrl as vm">
    <div class="container wow fadeInUp">

        <div class="row">
            <div class="col-sm-6" ng-repeat="row in vm.allObj">
                <div class="card card-block text-xs-center">
                    <div class="card-block">
                        <h4 class="card-title show-pointer" ng-click="vm.info({id: row.id})" href="">{{row.name}}</h4>
                    </div>
                    <img class="card-img-top img-fluid show-pointer" src="files/{{row.fileIds[0]}}" alt="Item image" ng-click="vm.info({id: row.id})">
                    <div class="card-block">
                        <p class="card-text">{{row.shortDescription}}</p>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-warning" ng-click="vm.info({id: row.id})"><span
                                class="glyphicon glyphicon-pencil"></span> More Info
                        </button>
                        <!--<button type="button" class="btn btn-warning" ng-click="vm.addToBasket(row)"><span
                                class="glyphicon glyphicon-pencil"></span> Add to basket
                        </button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<pre>
        {{vm.allObj | json}}
    </pre>-->
</section>