<section id="items" ng-controller="itemsCtrl as vm">
    <div class="container wow fadeInUp">
        <h2>{{vm.obj.id?'Edit item':'Add new item'}}</h2>
        <form role="form">
            <div class="row">
                <!-- <div class="form-group col-lg-12">-->
                <div ng-class="vm.obj.fileIds.length>0?'form-group col-lg-6':'form-group col-lg-12'">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" ng-model="vm.obj.name"/>

                    <label for="sel1">Group:</label>
                    <select class="form-control" id="sel1" name="sel1" ng-model="vm.obj.groupId" class="danger">
                        <option ng-repeat="row in vm.allGroups" value="{{row.id}}">{{row.name}}</option>
                    </select>

                    <div class="alert alert-danger" ng-if="vm.errorMsg.groupErr">
                        <strong>Group</strong> is required field
                    </div>

                    <label for="name">Price:</label>
                    <input class="form-control" id="price" name="price" ng-model="vm.obj.price" type="number"
                           value="0.00" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100"
                           class="form-control currency"/>

                    <label for="shortDescription">Short description:</label>
                    <input class="form-control" id="shortDescription" name="shortDescription"
                           ng-model="vm.obj.shortDescription"/>

                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" name="description" ng-model="vm.obj.description"
                              rows="5"></textarea>


                    <div ng-controller="filesCtrl as vm">
                        <form enctype="multipart/form-data" class="form-horizontal">

                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label class="btn btn-default btn-file">
                                        Browse <input type="file" file-model="myFile" style="display: none;">
                                    </label>
                                    <button ng-click="vm.uploadFile()" class="btn btn-warning">Upload file
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-6" ng-if="vm.obj.fileIds.length">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <tbody>
                            <tr ng-repeat="row in vm.obj.fileIds track by $index">
                                <td>
                                    <button class="btn btn-secondary btn-sm" type="button" ng-if="$index>0"><i
                                            class="ion-arrow-up-a text-center"
                                            ng-click="vm.changeFilesOrder({index: $index, direction: 'up'})"></i>
                                    </button>
                                </td>
                                <!--<td><a href=""><i class="ion-arrow-down-a text-center" ng-click="vm.changeFilesOrder({index: $index, direction: 'down'})" ng-if="$index!==vm.obj.aFileIds.length-1"></i></a></td>-->
                                <td>
                                    <button class="btn btn-secondary btn-sm" type="button"
                                            ng-if="$index!==vm.obj.fileIds.length-1"><i class="ion-arrow-down-a"
                                                                                        ng-click="vm.changeFilesOrder({index: $index, direction: 'down'})"></i>
                                    </button>
                                </td>
                                <!-- <td><my-image my-image-args="{fileId: row}"></my-image></td>-->
                                <td><img class="img-fluid center-block" src="files/{{row}}" alt="Item image">
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm"
                                            ng-click="vm.removeFile({index: $index})"><i class="ion-trash-a"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success" ng-click="vm.save()" ng-if="!vm.obj.id"><i
                    class="ion-plus"></i>&nbsp;Create
            </button>
            <button type="submit" class="btn btn-success" ng-click="vm.update()" ng-if="vm.obj.id"><i
                    class="ion-edit"></i>&nbsp;Save
            </button>
            <a type="button" class="btn btn-secondary" href="/#items/"><i class="ion-android-arrow-back"
                                                                          role="button"></i>&nbsp;Back</a>
        </form>

        <pre>
            {{vm.obj|json}}
        </pre>
    </div>

</section>