<section id="items" ng-controller="groupsCtrl as vm">

    <div class="container wow fadeInUp">
        <h2>{{vm.obj.id>0?'Edit group':'Add new group'}}</h2>
        <form role="form">
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" ng-model="vm.obj.name"/>
                </div>
            </div>
           <!-- <button type="submit" class="btn btn-primary" ng-click="vm.save()" ng-if="!vm.obj.id"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create</button>
            <button type="submit" class="btn btn-primary" ng-click="vm.update()" ng-if="vm.obj.id>0"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Save</button>
            <a type="button" class="btn btn-default" href="/#groups/"><span class="glyphicon glyphicon-menu-left"></span>&nbsp;&nbsp;Back</a>-->


            <button type="submit" class="btn btn-success" ng-click="vm.save()" ng-if="!vm.obj.id"><i class="ion-plus"></i>&nbsp;Create</button>
            <button type="submit" class="btn btn-success" ng-click="vm.update()" ng-if="vm.obj.id"><i class="ion-edit"></i>&nbsp;Save</button>
            <a class="btn btn-secondary " href="/#groups/" role="button"><i class="ion-android-arrow-back"></i>&nbsp;Back</a>

        </form>
    </div>
</section>