<section ng-controller="psCtrl as vm">
    <div class="container wow fadeInUp">
        <h2>PS ADD EDIT HTML</h2>
        <div ng-repeat="row in vm.obj.items">
            <h2>
                {{row.name}}
                <button type="button" class="btn btn-danger pull-right" ng-click="vm.removeItem($index)"><i class="ion-trash-a"></i> Remove</button>

            </h2>
            <p>{{row.shortDescription}}</p>
            <hr/>
        </div>


        <pre>{{vm.obj | json}}</pre>
    </div>
</section>